{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Review Here
{% endblock %}
{% block content %}
<form method="post" style="width: 50%; margin: auto;" class="pt-5">
    <h3>Review for '{{type}}'</h3>
    {% csrf_token %}
    <!-- {{form | crispy}} -->
    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors}}
    {% endfor %}
    <input class="btn btn-outline-dark mb-5 mt-2" type="submit" value="Submit">
</form>
<h4>Your all reviews about {{type}}</h4>
{% for review in reviews %}
<p>{{review.comment}} - {{review.created_on}}</p>
{% endfor %}
{% endblock %}